body {
    color:rgb(53, 31, 31);
    margin: 0;
    padding: 0;
    background: url(../images/CARD\ LOG\ ON.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.menu-bar{
    background-color: whitesmoke;
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    position: static;
    } 

    .imageone{
        display: flex;
        margin-top: 30px;
        background-color: transparent;
        padding-left: 50px;
    }

    .col-sm-8 a{
        font-size: 30px;
        color: black;
    }

    .main-text{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-request{
        padding-left: 500px;
        justify-content: center;
        align-items: center;

    }

    .list-group{
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 100px;
    }
    .card-item {
        flex-basis: 80%;
    }
    .approval-cards {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    @media only screen and (max-width: 999px) {
        .approval-cards {
            flex-direction: column;
            width: 100%;
            margin-bottom: 30px;
        }

        .approval-cards button {
            margin-top: 15px;
        }
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }