body {
    color: black;
    margin: auto;
    box-sizing: border-box;
    background-color: rgb(22, 17, 8);
}

.menu-bar{
    background-color: whitesmoke;
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    position: static;
    } 
    .main-dv{
        display: inline-flex;
        margin: 30px 130px 30px 130px;
    }
    .imageone{
        display: flex;
        margin-top: 30px;
        background-color: black !important;
    }
    .stock-font{
        font-size: 30px;
        color: black;
    }

    .solution{
        font-size: 60px;
        color: black;
    }
    